*{
    box-sizing: border-box;
}
.appContainer{
    padding: 0px 20px 50px 20px;
}
.productsContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.product{
    background-color: black;
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.product div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
